[user]
	name = Gabriel Dunne
	email = <redacted-for-privacy>@openspace.ai
[alias]
	diff-branches = "!f() { git diff $1:$3 $2:$3; }; f"
	branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
	logline = log --decorate --oneline --graph
